:root {
	--font-accent: 'Fira Sans Extra Condensed';
	--font-main: 'Inter Tight';

	--color-main: #1c1c21;
	--color-bg: #fbfbfe;
	--color-disabled: #a3a1aa;
	--bullet-bg: #f4f4fb;
	--nav-dot-color: #000000;
	--border-color: #e1e1e9;
	scroll-behavior: smooth;
}

[data-theme="dark"] {
	--color-main: #FBFBFE;
	--color-bg: #363640;
	--color-disabled: #A3A1AA;
	--bullet-bg: #4A4A53;
	--nav-dot-color: #fbfbfe;
	--border-color: #4A4A53;
}

body {
	background-color: var(--color-bg);
	font-family: var(--font-main), sans-serif;
	font-weight: 500;
	font-size: 16px;
	overflow-x: hidden;
	color: var(--color-main);
	transition: background-color 0.3s ease, color 0.3s ease;
}

a {
	color: var(--color-main);
}

.container {
	margin: 20px 40px 40px 40px;
}

.disabled {
	color: var(--color-disabled);
}

.header-container {
	z-index: 100;
	position: fixed;
	padding: 20px 40px;
	background: var(--color-bg);
	width: 100%;
	top: 0;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.header-container.dark-header {
	background: #363640;
	color: #FBFBFE;
}

.header-container.dark-header .nav__dot {
	background-color: #FBFBFE;
}

.header-container.dark-header a {
	color: #FBFBFE;
}

.header-container.dark-header .header__button {
	border-color: #4A4A53;
	color: #FBFBFE;
}

.header-container.dark-header .theme-toggle svg rect {
	stroke: #4A4A53;
}

.header-container.dark-header .theme-toggle svg path {
	fill: #FBFBFE;
}

.header {
	position: sticky;
	display: grid;
	grid-template-columns: 250px auto 250px;
	justify-content: space-between;
	align-items: center;
}

.header__left {
	display: flex;
	align-items: center;
	gap: 50px;
}

.header__buttons {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 16px;
}

.header__button {
	padding: 6px 10px;
	border-radius: 50px;
	border: 1.5px solid var(--border-color);
}

.nav {
	position: relative;
	margin: 0 auto;
}

.nav__list {
	align-self: center;
	display: flex;
	align-items: center;
	gap: 42px;
}

.nav__dot {
	position: absolute;
	bottom: -10px;
	width: 4px;
	height: 4px;
	background-color: var(--nav-dot-color);
	border-radius: 50%;
	transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	transform: translateX(-50%);
}

.lang-switcher {
	display: flex;
	align-items: center;
	gap: 10px;
}

.hero-section {
	position: relative;
	margin-top: 175px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

.subtitle {
	text-align: center;
}

.title {
	text-align: center;
	font-family: var(--font-accent);
	font-size: 64px;
	font-weight: 600;
	line-height: 118.722%; /* 75.982px */
	letter-spacing: -0.64px;
	text-transform: uppercase;
}

.preview-container {
	margin: 57px 0 79px 0;
}

.ad-bullet-container {
	top: -3%;
	left: 6%;
	position: absolute;
}

.ad-bullet-container.ps5 {
	top: 6%;
	right: 5%;
	left: auto;
}

.ad-bullet-container.wallet {
	top: 34%;
	left: 20%;
}

.ad-bullet {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 232px;
	width: 194px;
	border-radius: 100px;
	background: var(--bullet-bg);
}

.ad-bullet__img {
	width: 170px;
	height: 170px;
	object-fit: contain;
}

.ad-bullet__crypto {
	position: absolute;
	top: 5%;
	right: 5%;
}

.price {
	position: absolute;
	left: 50%;
	bottom: 5%;
	transform: translate(-50%, -50%);
}

.about {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 120px 193px 292px 193px;
}

.section-title {
	font-family: var(--font-accent);
	font-size: 40px;
	font-weight: 600;
	line-height: 118.722%; /* 47.489px */
	letter-spacing: -0.4px;
	text-transform: uppercase;
}

.slider-header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	margin-bottom: 60px;
}

.arrows {
	display: flex;
	gap: 4px;
}

.arrow {
	display: flex;
	width: 36px;
	height: 36px;
	padding: 9px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	border-radius: 100px;
	background: var(--bullet-bg);
}

.slider-end {
	font-family: var(--font-accent);
	font-size: 40px;
	font-weight: 600;
	display: flex;
	align-items: center;
}

.swiper {
	width: 325px;
	height: 458px;
}

.swiper.custom {
	overflow: visible;
	margin-left: 0;
}

.cards-container {
	display: flex;
	height: 450px;
	gap: 20px;
}

.card {
	display: flex;
	padding: 30px 20px 20px 20px;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 325px;
	border-radius: 50px;
	background: var(--bullet-bg);
}

.card__title {
	font-size: 24px;
}

.card_image {
	height: 100%;
}

.card.card_first {
	background-repeat: no-repeat;
	background-position: bottom;
	background-image: url(./img/card_1.svg);
}

.white-title {
	color: #fff !important;
}

.bg-red {
	background-color: #fb594c;
}

.bg-blue {
	background: #2a5ccf;
}

.bg-dark {
	background-color: #363640;
}

.bg-biege {
	background-color: #d0c7b7;
}

.bg-lime {
	background-color: #D7FF8D;
}

.card {
	color: #1C1C21;
}

.card.card_second {
	background-repeat: no-repeat;
	background-position: bottom;
	background-image: url(./img/card_image2.svg);
}

.card.card_third {
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-image: url(./img/card_image3.svg);
}

.card.card_fourth {
	background-repeat: no-repeat;
	background-position: bottom;
	background-image: url(./img/card_4.svg);
}

.card.card_fifth {
	background-repeat: no-repeat;
	background-position: bottom;
	background-image: url(./img/card_5.svg);
}

.card.card_sixth {
	background-repeat: no-repeat;
	background-position: bottom;
	background-image: url(./img/card_6.svg);
}

.card.card_seventh {
	background-repeat: no-repeat;
	background-position: bottom;
	background-image: url(./img/card_7.svg);
}

.card.card_eighth {
	background-repeat: no-repeat;
	background-position: bottom;
	background-image: url(./img/card_8.svg);
}

.card.card_ninth {
	background-repeat: no-repeat;
	background-position: bottom;
	background-image: url(./img/card_9.svg);
}

.categories {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 234px;
	position: relative;
}

.caregory-bullet {
	position: absolute;
	border-radius: 95.876px;
	background: var(--bullet-bg);
}

.caregory-bullet.big {
	width: 186px;
	height: 222px;
	top: -10%;
	right: 15%;
}

.caregory-bullet.medium {
	width: 143px;
	height: 171px;
}

.caregory-bullet.medium.first {
	top: 10%;
	left: 5%;
	background-image: url(./img/cat_phone.png);
	background-repeat: no-repeat;
	background-position: bottom;
}

.caregory-bullet.medium.second {
	bottom: 12%;
	left: 20%;
	background-image: url(./img/ring.png);
	background-repeat: no-repeat;
}

.caregory-bullet.small {
	width: 97px;
	height: 116px;
	background-image: url(./img/cat_wallet.png);
	background-repeat: no-repeat;
	background-position: bottom;
}

.caregory-bullet.small.first {
	top: -20%;
	left: 25%;
	background-image: url(./img/cat_shoes.png);
	background-repeat: no-repeat;
	background-position: bottom;
}

.caregory-bullet.small.second {
	bottom: 20%;
	right: 13%;
}

.caregory-bullet.wheel {
	background-image: url(./img/wheel.png);
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

.categories__subtitle {
	text-align: center;
	font-size: 16px;
	margin-top: 25px;
}

.hot-it-works {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;
	margin: 0 212px 157px 212px;
}

.hot-it-works__title {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

.card.card_how-second {
	background-image: url(./img/black_corner.svg);
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

.card.card_how-third {
	background-image: url(./img/lock.svg);
	background-repeat: no-repeat;
	background-position: bottom;
}

.first-adopters {
	height: 110vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 47px;
	padding-top: 213px;
	padding-bottom: 380px;
	background-color: #363640;
}

.first-adopters__title {
	color: #d7ff8d;
}

.first-adopters__button {
	padding: 14.58px 24.299px;
	border-radius: 121.496px;
	background: #d7ff8d;
	font-size: 32.399px;
}

.team-invite {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #1c1c21;
	padding-bottom: 224px;
}

.eyes {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 150px;
}

.eye {
	position: absolute;
}

.eye.left {
	top: 0;
	left: 30%;
	position: absolute;
}

.eye.right {
	top: 0;
	right: 10%;
	position: absolute;
}

.team-invite__title {
	color: #d7ff8d;
	font-size: 40px;
	margin-bottom: 36px;
}

.team-invite__form {
	display: flex;
	gap: 20px;
}

.team-invite__input {
	padding: 14.58px 24.299px;
	border-radius: 121.496px;
	background: #fff;
	font-family: 'Inter Tight';
	font-size: 32.399px;
	font-style: normal;
	font-weight: 500;
}

.team-invite__button {
	display: flex;
	padding: 14.58px 33px;
	justify-content: center;
	align-items: center;
	border-radius: 121.496px;
	background: #d7ff8d;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background-color: #1c1c21;
	padding: 0 40px 40px 40px;
}

.footer__button {
	display: flex;
	cursor: pointer;
	padding: 6px 10px;
	border-radius: 50px;
	border: 1.5px solid rgba(251, 251, 254, 0.2);
	color: #fbfbfe;
	text-transform: capitalize;
}

.socials {
	display: flex;
	align-items: center;
	gap: 16px;
}

#hero-section {
	scroll-margin-block-start: 200px;
}

#about {
	scroll-margin-block-start: 95px;
}
#how-it-works {
	scroll-margin-block-start: 45px;
}

#roadmap {
	scroll-margin-block-start: 125px;
}

.orange-triangle {
	color: #fb594c;
	position: relative;
}

.orange-triangle::after {
	content: '';
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translateX(-50%) rotate(180deg);
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 8px solid #fb594c;
	margin-top: 5px;
}

.roadmap {
	margin: 120px 193px;
}

.roadmap-card {
	color: #1C1C21;
	display: flex;
	width: 325px;
	height: 318px;
	padding: 30px 25px;
	flex-direction: column;
	align-items: flex-start;
	gap: 60px;
	border-radius: 50px;
	font-size: 24px;
}

.roadmap-card__description {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	align-self: stretch;
}

.roadmap-card__list > li {
	list-style: inside;
	font-size: 16px;
}

.theme-toggle {
	cursor: pointer;
	background: none;
	border: none;
	padding: 8px;
	border-radius: 50%;
	transition: all 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.theme-toggle:hover {
	background-color: var(--bullet-bg);
	transform: scale(1.1);
}

.theme-toggle svg {
	transition: transform 0.3s ease;
}

.theme-toggle:hover svg {
	transform: rotate(15deg);
}
