:root {
	--font-accent: 'Fira Sans Extra Condensed';
	--font-main: 'Inter Tight';

	--color-main: #1c1c21;
	--color-bg: #fbfbfe;
	--color-disabled: #a3a1aa;
	scroll-behavior: smooth;
}

body {
	background-color: var(--color-bg);
	font-family: var(--font-main), sans-serif;
	font-weight: 500;
	font-size: 16px;
	overflow-x: hidden;
}

a {
	color: var(--color-main);
}

.container {
	margin: 20px 40px 40px 40px;
}

.disabled {
	color: #a3a1aa;
}

.header-container {
	z-index: 100;
	position: fixed;
	padding: 20px 40px;
	background: #fff;
	width: 100%;
	top: 0;
}

.header {
	position: sticky;
	display: grid;
	grid-template-columns: 250px auto 250px;
	justify-content: space-between;
	align-items: center;
}

.header__left {
	display: flex;
	align-items: center;
	gap: 50px;
}

.header__buttons {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 16px;
}

.header__button {
	padding: 6px 10px;
	border-radius: 50px;
	border: 1.5px solid var(--Light-grey-btn, #e1e1e9);
}

.nav {
	position: relative;
	margin: 0 auto;
}

.nav__list {
	align-self: center;
	display: flex;
	align-items: center;
	gap: 42px;
}

.nav__dot {
	position: absolute;
	bottom: -10px;
	width: 4px;
	height: 4px;
	background-color: #000000;
	border-radius: 50%;
	transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	transform: translateX(-50%);
}

.lang-switcher {
	display: flex;
	align-items: center;
	gap: 10px;
}

.hero-section {
	position: relative;
	margin-top: 175px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

.subtitle {
	text-align: center;
}

.title {
	text-align: center;
	font-family: var(--font-accent);
	font-size: 64px;
	font-weight: 600;
	line-height: 118.722%; /* 75.982px */
	letter-spacing: -0.64px;
	text-transform: uppercase;
}

.preview-container {
	margin: 57px 0 79px 0;
}

.ad-bullet-container {
	top: -3%;
	left: 6%;
	position: absolute;
}

.ad-bullet-container.ps5 {
	top: 6%;
	right: 5%;
	left: auto;
}

.ad-bullet {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 232px;
	width: 194px;
	border-radius: 100px;
	background: var(--Light-grey-bg, #f4f4fb);
}

.ad-bullet__img {
	width: 170px;
	height: 170px;
	object-fit: contain;
}

.ad-bullet__crypto {
	position: absolute;
	top: 5%;
	right: 5%;
}

.price {
	position: absolute;
	left: 50%;
	bottom: 5%;
	transform: translate(-50%, -50%);
}

.about {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 120px 193px 292px 193px;
}

.section-title {
	font-family: var(--font-accent);
	font-size: 40px;
	font-weight: 600;
	line-height: 118.722%; /* 47.489px */
	letter-spacing: -0.4px;
	text-transform: uppercase;
}

.slider-header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	margin-bottom: 60px;
}

.arrows {
	display: flex;
	gap: 4px;
}

.arrow {
	display: flex;
	width: 36px;
	height: 36px;
	padding: 9px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	border-radius: 100px;
	background: #f4f4fb;
}

.slider-end {
	font-family: var(--font-accent);
	font-size: 40px;
	font-weight: 600;
	display: flex;
	align-items: center;
}

.swiper {
	width: 325px;
	height: 458px;
}

.swiper.custom {
	overflow: visible;
	margin-left: 0;
}

.cards-container {
	display: flex;
	height: 450px;
	gap: 20px;
}

.card {
	display: flex;
	padding: 30px 20px 20px 20px;
	flex-direction: column;
	align-items: center;
	height: 100%;
	min-width: 325px;
	border-radius: 50px;
	background: #f4f4fb;
}

.card__title {
	font-size: 24px;
}

.card_image {
	height: 100%;
}

.card.card_first {
	background-repeat: no-repeat;
	background-position: center calc(100% - 20px);
	background-image: url(./img/card_image1.svg);
}

.card.white-title {
	color: #fff;
}

.card.bg-red {
	background-color: #fb594c;
}

.card.bg-light-brown {
	background-color: #d0c7b7;
}

.card.bg-blue {
	background: #2a5ccf;
}

.card.bg-dark {
	background-color: #363640;
}

.card.card_second {
	background-repeat: no-repeat;
	background-position: bottom;
	background-image: url(./img/card_image2.svg);
}

.card.card_third {
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-image: url(./img/card_image3.svg);
}

.card.card_fourth {
	background-repeat: no-repeat;
	background-position: bottom;
	background-image: url(./img/card_image2.svg);
}

.categories {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 234px;
}

.categories__subtitle {
	text-align: center;
	font-size: 16px;
	margin-top: 25px;
}

.hot-it-works {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;
	margin: 0 212px 157px 212px;
}

.hot-it-works__title {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

.card.card_how-second {
	background-image: url(./img/black_corner.svg);
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

.card.card_how-third {
	background-image: url(./img/lock.svg);
	background-repeat: no-repeat;
	background-position: bottom;
}

.first-adopters {
	height: 110vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 47px;
	padding-top: 213px;
	padding-bottom: 380px;
	background-color: #363640;
}

.first-adopters__title {
	color: #d7ff8d;
}

.first-adopters__button {
	padding: 14.58px 24.299px;
	border-radius: 121.496px;
	background: #d7ff8d;
	font-size: 32.399px;
}

.team-invite {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #1c1c21;
	padding-bottom: 224px;
}

.eyes {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 150px;
}

.eye {
	position: absolute;
}

.eye.left {
	top: 0;
	left: 30%;
	position: absolute;
}

.eye.right {
	top: 0;
	right: 10%;
	position: absolute;
}

.team-invite__title {
	color: #d7ff8d;
	font-size: 40px;
	margin-bottom: 36px;
}

.team-invite__form {
	display: flex;
	gap: 20px;
}

.team-invite__input {
	padding: 14.58px 24.299px;
	border-radius: 121.496px;
	background: #fff;
	font-family: 'Inter Tight';
	font-size: 32.399px;
	font-style: normal;
	font-weight: 500;
}

.team-invite__button {
	display: flex;
	padding: 14.58px 33px;
	justify-content: center;
	align-items: center;
	border-radius: 121.496px;
	background: #d7ff8d;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background-color: #1c1c21;
	padding: 0 40px 40px 40px;
}

.footer__button {
	display: flex;
	cursor: pointer;
	padding: 6px 10px;
	border-radius: 50px;
	border: 1.5px solid rgba(251, 251, 254, 0.2);
	color: #fbfbfe;
	text-transform: capitalize;
}

.socials {
	display: flex;
	align-items: center;
	gap: 16px;
}

#about {
	scroll-margin-block-start: 95px;
}
#how-it-works {
	scroll-margin-block-start: 45px;
}
